<div class=post-author>
  <figure class="author-picture">
    <img src="/img/author/felipe.jpg" alt="Felipe Sousa" 
      title="Felipe Sousa" style="border-radius: 50%">
  </figure>
  <div class="author-name">
    <h1>Felipe Sousa</h1>
  </div>
  <div class="author-description">
    <p>Desenvolvedor de software na 
      <a href="http://www.tqi.com.br/" target="_blank">TQI</a>.
      Formado em Sistema para Internet, trabalha com tecnologia a 8 anos e procura sempre atuar como full stack tendo como linguagem core o Java.
      Já atuou na área de pesquisa de automações, contribuindo para um projeto de automação de uma estufa controlada por IA.
    </p>
  </div>
</div>